.fa {
    margin-left: 50%;
    margin-bottom: 5%;
}

.faqback {
    background: linear-gradient(-45deg, #f7997d, #4d59c7, #23a6d5, #23d5ab);
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    position: relative;
}

.faqtext {
    font-family: Open Sans, sans-serif;
    font-weight: bolder;
    line-height: 1.3;
}

.faqbody {
    background: wheat;
}

.imstyles {
    margin-left: 25%;
}