@font-face {
    font-family: 'DosFont';
    src: local('DosFont'), url(../fonts/dos-vga-437-win.ttf) format('truetype');
}


@media only screen and (max-width: 750px) {
    .test-title {
        color: white;
        opacity: 0;
        font-size: 1.2rem !important;
        animation: text-rotate-blur 2s ease forwards;
        animation-delay: 1s;
    }

    .test-local-image {
        width: auto !important;
        height: 100vh;
    }

    .test-timer {
        font-size: 1rem !important;
        color: white;
    }

    .card-background {
        padding: 5px !important;
        margin: 1px !important;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.test-background {
    position: absolute;
    transition: transform .2s;
    animation: background-zoom 3s ease, background-reveal 3s forwards;
}

.test-local-image {
    width: 100vw;
    height: 100vh;
}

.test-base {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.test-body {
    position: absolute;
    font-family: 'DosFont', Fallback, sans-serif !important;
    margin-right: 40px;
    margin-left: 40px;
}

.test-title {
    color: white;
    opacity: 0;
    font-size: 4rem;
    font-weight: 900;
    margin-left: 10px;
    animation: text-rotate-blur 2s ease forwards;
    animation-delay: 1s;
    text-shadow: 0 0 5px white;
}

.test-close {
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@keyframes background-zoom {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1.05) rotate(0.1deg);

    }

}

@keyframes text-rotate-blur {
    0% {
        opacity: 1;
        transform: rotate3d(1, 0, 1, 15deg) scale(.8) translate3d(0, 0, 0);
        filter: blur(15px);
    }
    100% {
        opacity: 1;
        transform: rotate3d(1, 0, 1, 0deg) scale(1) translate3d(0, 0, 0);
        filter: blur(0.001px);
    }
}

@keyframes background-reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.test-timer {
    font-size: 2.5rem;
    color: white;
}

.test-body {
    opacity: 0;
    animation: text-rotate-blur 2s ease forwards;
    animation-delay: 1s;
}

.card-background {
    background-color: rgba(255, 255, 255, 0.5);
}