

@media (min-width: 755px){
	.faq-section{
		margin-right: 5%;
	}
}

@media (min-width: 755px){
	.top-text, .mid-text, .bottom-text{
		margin-left: 30%;
	}
	.top-text{
		margin-top: -10%;
	}
	.faq-image{
		margin-left: 20%;
	}
}

@media (max-width: 755px){
	.top-text, .mid-text, .bottom-text{
		margin-left: 25%;
	}
	.top-text{
		margin-top: -15%;
	}
	.faq-image{
		margin-left: 5%;
	}
}

 
.faqBackground {
    height: auto;
	padding: 0;
	justify-content: center;
	position: relative;
	background-image: linear-gradient(rgb(2, 34, 76), black );

}

.faq-image {
	height: 60vh;
	margin-top: 20%;
}


.text-gradient{
	background: -webkit-linear-gradient(45deg,#FF8008, #FFC837);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.header-text {
    position: absolute;
    left: 50%;
	top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
   }

.faq-section{
	margin-top: 30%;
	border: none;
}

.collapsible-header{
	
	background-color: transparent;
	border-color: transparent;
	z-index: 0;
}

.top-text{

}

.mid-text{
}
.bottom-text{
}