
 @media (min-width: 755px){
	 .faq-section{
		margin-top: 10%;
	 }
 }

 @media (max-width: 755px){
	.faq-section{
		margin-top: 35%;
	 }
 }


.faqBackground {
    height: auto;
	padding: 0;
	justify-content: center;
	position: relative;
}


.text-gradient{
	background: -webkit-linear-gradient(45deg,#240b36, #c31432);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}



.header-text {
    position: absolute;
    left: 50%;
	top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}


.collapsible-header, .collapsible-body, .collapsible{
	
	background-color: transparent;
	border-color: transparent;
	z-index: 0;
}

.faq-section{

}