@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');
*, *::before, *::after {
    box-sizing: border-box;
}

@media only screen and (max-width: 1000px) {
    .landing-sky{
        position: relative;
        height: 100vh !important;
        z-index: 1;
    }

    .landing-tent {
        position: absolute;
        bottom: 13vw;
        height: 15vw !important;
        right: 4%;
    }

    .landing-waterfall {
        position: absolute;
        right: 0;
        bottom: 0 !important;
    }

	.webapp-status {
		position: absolute;
		bottom: 95vh !important;
		right: 1vw;
	}
}


@media only screen and (max-width: 670px) {
    .landing-waterfall {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 70vh !important;
    }

    .hack-name {
        font-size: 5rem !important;
    }

    .hack-slogan {
        font-size: 2rem !important;
    }

	.header-title {
		position: absolute;
		margin: auto;
		text-align: center;
		width: 100% !important;
		left: 0 !important;
		padding: 10px;
		top: 10vh;
		z-index: 2;
	}

}

@media only screen and (max-width: 470px) {
    .landing-waterfall {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 60vh !important;
    }

    .hack-name {
        font-size: 4rem !important;
    }

    .hack-slogan {
        font-size: 1.5rem !important;
    }
	.landing-devfolio-button {
		position: absolute;
		margin: auto;
		text-align: center;
		width: 70% !important;
		left: 15% !important;
	}

	#devfolio-apply-now {
		padding-left: 8% !important;
	}
}

@media only screen and (max-width: 400px) {
    .landing-waterfall {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 50vh !important;
    }
}

 *{
    font-family: 'Open Sans', sans-serif;
 }



 .bird {
	 background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
	 background-size: auto 100%;
	 width: 88px;
	 height: 125px;
	 will-change: background-position;
	 animation-name: fly-cycle;
	 animation-timing-function: steps(10);	
	 animation-iteration-count: infinite;
}
 .bird--one {
	 animation-duration: 1s;
	 animation-delay: -0.5s;
}
 .bird--two {
	 animation-duration: 0.9s;
	 animation-delay: -0.75s;
}
 .bird--three {
	 animation-duration: 1.25s;
	 animation-delay: -0.25s;
}
 .bird--four {
	 animation-duration: 1.1s;
	 animation-delay: -0.5s;
}
 .bird-container {
	 position: absolute;
	 top: 20%;
	 left: -10%;
	 transform: scale(0) translateX(-10vw);
	 will-change: transform;
	 animation-name: fly-right-one;
	 animation-timing-function: linear;
	 animation-iteration-count: infinite;
}
 .bird-container--one {
	 animation-duration: 15s;
	 animation-delay: 0;
}
 .bird-container--two {
	 animation-duration: 16s;
	 animation-delay: 1s;
}
 .bird-container--three {
	 animation-duration: 14.6s;
	 animation-delay: 9.5s;
}
 .bird-container--four {
	 animation-duration: 16s;
	 animation-delay: 10.25s;
}
 @keyframes fly-cycle {
	 100% {
		 background-position: -900px 0;
	}
}
 @keyframes fly-right-one {
	 0% {
		 transform: scale(0.3) translateX(-10vw);
	}
	 10% {
		 transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	 20% {
		 transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	 30% {
		 transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	 40% {
		 transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	 50% {
		 transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	 60% {
		 transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	 100% {
		 transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
}
 @keyframes fly-right-two {
	 0% {
		 transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	 10% {
		 transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	 20% {
		 transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	 30% {
		 transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	 40% {
		 transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	 50% {
		 transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	 51% {
		 transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	 100% {
		 transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
}

.landing-sky{
	position: relative;
    height: 120vh;
    z-index: 1;
}

.landing-waterfall {
    position: absolute;
    right: 0;
    bottom: 10vw;
    height: 100vh;
}

.landing-mountains {
	position: absolute;
	bottom: 20vw;
	width: 100%;
}

.landing-mountain-1 {
    position: absolute;
    bottom: 20vw;
    height: 20vw;
    left: 0;
}

.landing-sea {
    position: absolute;
    bottom: 5.0vw;
    width: 100%;
}

.landing-light-grass {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.landing-dark-grass {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.landing-tent {
    position: absolute;
    bottom: 13vw;
    height: 11vw;
    right: 4%;
}

.header-title {
	position: absolute;
	margin: auto;
	text-align: center;
	width: 50%;
	left: 25%;
	padding: 10px;
	top: 10vh;
    z-index: 2;
}

.landing-devfolio-button {
	position: absolute;
	margin: auto;
	text-align: center;
	width: 50%;
	left: 25%
}

#devfolio-apply-now {
	padding-left: 10% !important;
}

.hack-name {
	font-size: 5rem;
	font-weight: 900;
	color: white;
}

.hack-slogan {
	font-size: 2rem;
	font-weight: 900;
}

.webapp-status {
	position: absolute;
	bottom: 22vh;
	right: 1vw;
}

.maintenance-status {
	background-color: #f57f17 !important;
	box-shadow: 0 0 5px 5px #f57f17;
}

.live-status {
	background-color: #43a047 !important;
	box-shadow: 0 0 5px 5px #43a047;
}

.down-status {
	background-color: #e53935 !important;
	box-shadow: 0 0 5px 5px #e53935;
}

.testing-status {
	background-color: #7b1fa2 !important;
	box-shadow: 0 0 5px 5px #7b1fa2;
}

.section-scroll {
	position: relative;
	width: 100%;
	height: 100%;
}
.section-scroll::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 80%;
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}

#section10 div {
	padding-top: 60px;
}
#section10 div span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
}
#section10 div span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sdb10 2s infinite;
	animation: sdb10 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb10 {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.demo div {
	position: absolute;
	bottom: 20vh;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	letter-spacing: .1em;
	text-decoration: none;
	opacity: 0.7;
	transition: opacity .3s;
}
.demo div:hover {
	opacity: .3;
}

#devfolio-apply-now {
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	background-color: #3770FF;
	border-radius: 3px;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 18px;
	font-weight: 600;
	padding: 12px 20px;
	text-align: center;
	text-transform: lowercase;
}

#devfolio-apply-now:not([disabled]) {
	cursor: pointer;
}

#devfolio-apply-now:hover {
	background-color: #2954BF !important;
}