.navbar-body {
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    z-index: 990;
}

.navbar-button {
    border-radius: 56px;
    width: 126px !important;
}

.navbar-logo {
    width: 40px;
    left: 0;
    position: absolute !important;
    margin-left: 20px;
    margin-top: 5px;
}

.navbar-menu-logo {
    position: absolute;
    font-size: 2rem;
    margin-left: 10px;
    margin-top: 14px;
}

.navbar-link {
    color: white;
    font-weight: 900;
}

.navbar-menu {
    background-color: white;
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 10;
    -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s ease-in-out;
    overflow: hidden;
}


/* Media Querries */

@media screen and (max-width:768px)
{
    .navbar-button
    {
        border-radius: 30px;
        width: 67px !important;
        height: 38px !important;
    }
    .navbar-menu-logo
    {
        margin-left: 2px;
        margin-top: 5px;
    }
    .navbar-logo
    {
        width: 25px;
        margin-left: 8px;
        margin-top: 5px;
    }
    
}