.scheduleBg{
  position: relative;
  height: 50vh;
  background-image: linear-gradient(black, rgb(2, 36, 74) );
}

.schedule-header {
  color: white;
  font-weight: 800;
  margin: 0 auto;
}

.schedule-background{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.teepee-one{
  position: absolute;
  bottom: 9vw;
  width: 18%;
  cursor: pointer;
  right: 8%;
}


.teepee-two{
  position: absolute;
  bottom: 9vw;  
  width: 18%;
  cursor: pointer;
  left: 10%;
  transform: scaleX(-1);
}

.teepee-three{
  position: absolute;
  bottom: 0;
  width: 18%;
  cursor: pointer;
  left: 26%;
  transform: scaleX(-1);
}


.teepee-four{
  position: absolute;
  bottom: 0;
  width: 18%;
  cursor: pointer;
  left: 57%;
}


.bonfire{
  position: absolute;
  bottom: 5vw;
  cursor: pointer;
  left: 46%;
  width: 10%;
}


.register-date{
  position: absolute;
  width: 10%;
  bottom: 18vw;
  left: 14%;
}

.shortlist-date{
  position: absolute;
  width: 5%;
  bottom: 9.5vw;
  left: 33%;
}

.first-day-date{
  position: absolute;
  width: 5%;
  bottom: 9.5vw;
  left: 63%;
}

.second-day-date{
  position: absolute;
  width: 5%;
  bottom: 18vw;
  right: 15%;
}

