
.header-text {
    font-size: 4vw;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
   }
    
    
    
   input {
      visibility: hidden;
    }
    @media (min-width: 755px) {
      .cards {
        font-size: 20px;
        height: 28rem;
        width: 20rem

      }
    }
    @media (max-width: 755px) {
      .cards {
        font-size: 1.8vw;
        height: 20rem;
        width: 14rem;
      }
    }
   
    .cards {
      background: #000;
      top: 30%;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 1.25rem;
      color: #fff;
      filter: drop-shadow(5px 5px 5px #000);
      flex-shrink: 0;
      font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
      font-weight: bolder;
      padding: 2.5rem;
      position: absolute;
      transition: transform 0.25s ease-out;
    }
    .cards:nth-of-type(1) {
      transform: translate(-40%, 0) rotate(-15deg);
    }
    .cards__footer {
      align-items: center;
      bottom: 30px;
      display: flex;
      font-size: 0.75rem;
      left: 2.5rem;
      position: absolute;
      right: 2.5rem;
    }
    .cards__footer img {
      height: 2rem;
      margin-right: 6px;
      width: 2rem;
    }
    .cards--answer {
      color: #000;
      background: #fff;
    }
    #day1:checked ~ .cards--day1 {
      transform: translate(40%, 0) rotate(15deg) translate(0, 10%);
      z-index: 3;
    }
    #day1:checked ~ .cards--day2 {
      transform: translate(40%, 0) rotate(15deg) translate(0, -10%);
      z-index: 2;
    }
    
    #day1:checked ~ label[for='day2'] {
      z-index: 3;
    }
    #day2:checked ~ .cards--day2 {
      transform: translate(40%, 0) rotate(15deg)translate(0, 10%);
      z-index: 2;
    }
    #day2:checked ~ .cards--day1 {
      transform: translate(40%, 0) rotate(15deg)translate(0, -10%);
      z-index: 1;
    }
    #day2:checked ~ label[for='day1'] {
      z-index: 3;
    }
     label {
      cursor: pointer;
      height: 33.6rem;
      position: absolute;
      transform: translate(40%, 0) rotate(15deg);
      width: 20rem;
    }
     .scheduleBg{
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradientBG 15s ease infinite;
      align-items: center;
      display: flex;
      font-size: 10px;
      justify-content: center;
      margin: 0;
      min-height: 100vh;
      padding: 0;
      position: relative;
      
    }

    @keyframes gradientBG {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
}

.cards {
    background: #000;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 1.25rem;
    color: #fff;
    filter: drop-shadow(5px 5px 5px #000);
    flex-shrink: 0;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    height: 28rem;
    padding: 2.5rem;
    position: absolute;
    transition: transform 0.25s ease-out;
    width: 20rem;
}

.cards:nth-of-type(1) {
    transform: translate(-40%, 0) rotate(-15deg);
}

.cards__footer {
    align-items: center;
    bottom: 30px;
    display: flex;
    font-size: 0.75rem;
    left: 2.5rem;
    position: absolute;
    right: 2.5rem;
}

.cards__footer img {
    height: 2rem;
    margin-right: 6px;
    width: 2rem;
}

.cards--answer {
    color: #000;
    background: #fff;
}

#day1:checked ~ .cards--day1 {
    transform: translate(40%, 0) rotate(15deg) translate(0, 10%);
    z-index: 3;
}

#day1:checked ~ .cards--day2 {
    transform: translate(40%, 0) rotate(15deg) translate(0, -10%);
    z-index: 2;
}

#day1:checked ~ label[for='day2'] {
    z-index: 3;
}

#day2:checked ~ .cards--day2 {
    transform: translate(40%, 0) rotate(15deg) translate(0, 10%);
    z-index: 2;
}

#day2:checked ~ .cards--day1 {
    transform: translate(40%, 0) rotate(15deg) translate(0, -10%);
    z-index: 1;
}

#day2:checked ~ label[for='day1'] {
    z-index: 3;
}

label {
    cursor: pointer;
    height: 33.6rem;
    position: absolute;
    transform: translate(40%, 0) rotate(15deg);
    width: 20rem;
}

.scheduleBg {
    background-image: url('../img/day1.jpg');
    align-items: center;
    display: flex;
    font-size: 10px;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    position: relative;
}
