.scheduleBg{
  position: relative;
  height: 100vh;  
  background-image: linear-gradient(black, rgb(2, 36, 74) );
}

.schedule-header {
  color: white;
  font-weight: 800;
  margin: 0 auto;
  padding-top: 20px;
}

.schedule-background{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.teepee-one{
  position: absolute;
  bottom: 9vw;
  width: 18%;
  cursor: pointer;
  right: 18%;
}


.teepee-two{
  position: absolute;
  bottom: 9vw;  
  width: 18%;
  cursor: pointer;
  left: 20%;
  transform: scaleX(-1);
}

.teepee-three{
  position: absolute;
  bottom: 2vw;
  width: 18%;
  cursor: pointer;
  left: 33%;
  transform: scaleX(-1);
}


.teepee-four{
  position: absolute;
  bottom: 2vw;
  width: 18%;
  cursor: pointer;
  left: 51%;
}


.bonfire{
  position: absolute;
  bottom: 5vw;
  cursor: pointer;
  left: 46%;
  width: 10%;
}
