.scheduleBg{
  position: relative;
  height: 100vh;  
  background-image: linear-gradient(black, rgb(2, 36, 74) );
}

.schedule-background{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.schedule-dark-grass{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.schedule-light-grass{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.teepee-one{
  position: absolute;
  bottom: 2vw;
  width: 12%;
  cursor: pointer;
  left: 5%;
}


.teepee-two{
  position: absolute;
  bottom: 9vw;  
  width: 12%;
  cursor: pointer;
  left: 20%;
}

.teepee-three{
  position: absolute;
  bottom: 2vw;
  width: 12%;
  cursor: pointer;
  left: 35%;
}


.teepee-four{
  position: absolute;
  bottom: 2vw;
  width: 12%;
  cursor: pointer;
  left: 55%;
}

.teepee-five{
  position: absolute;
  bottom: 11vw;
  width: 12%;
  cursor: pointer;
  right: 20%;
}


.teepee-six{
  position: absolute;
  bottom: 7vw;
  width: 12%;
  cursor: pointer;
  right: 5%;
}