
@media (min-width: 755px){
 
  .devfolio{
    left: 50%;
    top: 30%;
  }
  .matic{
    left: 50%;
    top: 55%
  }
  .sponsor-us{
    font-size: 80px;
  }
}

@media (max-width: 755px){

  .devfolio{
    left: 50%;
    top: 30%;
  }
  .matic{
    left: 50%;
    top: 55%;
  }
  .sponsor-us{
    font-size: 29px;
  }
}


.text-gradient{
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.sponsorBg{
  height: 100vh;
  margin-top: -20px;
  position: relative;
  background: linear-gradient(to bottom,rgba(0,0,0,1) 0, rgba(26, 60, 104, 0.99) 100%);
}

.sponsor-header-text {
  position: absolute;
  font-family: 'Fredoka One', cursive;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
 }


.title-sponsor-text {
  font-size: 48px;
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
 }



 .devfolio{
   position: absolute;
   height: 7vmax;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
 }

 .matic{
   position: absolute;
   height: 7vmax;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
 }

 
 .sponsor-us{
  position: absolute;
  font-family: 'Fredoka One', cursive;
  left: 50%;
  top: 75%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

