
@media (min-width: 755px){
 
  .sponsor-us-button{
    font-size: 70px;
    width: 30%;
  }
  .sponsor-header-text{
    font-size: 75px;
  }
}

@media (max-width: 755px){

  .sponsor-us-button{
    font-size: 22px;
    width: 50%;
  }
  .sponsor-header-text{
    font-size: 25px;
  }
}


.text-gradient{
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.sponsorBg{
  height: 100vh;
  margin-top: -20px;
  position: relative;
  background: linear-gradient(to bottom,rgba(0,0,0,1) 0, rgba(26, 60, 104, 0.99) 100%);
}

.sponsor-header-text {
  position: absolute;
  font-family: 'Fredoka One', cursive;
  left: 50%;
  top: -10%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
 }

 .devfolio{
   position: absolute;
   height: 5vmax;
 }

 .matic{
   position: absolute;
   height: 5vmax;
 }

 .sponsor-logo-new {
     margin-bottom: 20px;
 }

 .sponsor-us-button{
   position: absolute;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   top: 80%;
   border: 5px solid white;
   padding: 10px;
   font-weight: 500;
   font-size: 2rem;
   font-family: 'Fredoka One', cursive;
   background:  rgba(26, 60, 104, 0.99);
   color: white;
   height: auto;
   transition: background-color 0.2s linear, color 0.2s linear;
 }

.sponsor-us-button:hover{
  background-color: white;
  color: black !important;
  cursor: pointer;
}