
@media (min-width: 755px){
 
  .devfolio{
    left: 50%;
    top: 30%;
  }
  .matic{
    left: 50%;
    top: 55%
  }
  .sponsor-us-button{
    font-size: 70px;
    width: 30%;
  }
  .sponsor-header-text{
    font-size: 75px;
  }
}

@media (max-width: 755px){

  .devfolio{
    left: 50%;
    top: 30%;
  }
  .matic{
    left: 50%;
    top: 55%;
  }
  .sponsor-us-button{
    font-size: 22px;
    width: 50%;
  }
  .sponsor-header-text{
    font-size: 25px;
  }
}


.text-gradient{
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.sponsorBg{
  height: 100vh;
  margin-top: -20px;
  position: relative;
  background: linear-gradient(to bottom,rgba(0,0,0,1) 0, rgba(26, 60, 104, 0.99) 100%);
}

.sponsor-header-text {
  position: absolute;
  font-family: 'Fredoka One', cursive;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
 }





 .devfolio{
   position: absolute;
   height: 7vmax;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
 }

 .matic{
   position: absolute;
   height: 7vmax;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
 }

 
 .sponsor-us-button{
   position: absolute;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   top: 80%;
   border-radius: 12px;
   border-color: white;
   background:  rgba(26, 60, 104, 0.99);
   color: white;
   height: auto;
 }

 .sponsor-us-text {
  font-family: 'Fredoka One', cursive;
 }